html {
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    height: 800px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #12a4d9;
}

h1, h2 {
    font-size: 70px;
    margin: 20px;
    color: #322e2f;
}

#counter {
    color: #d9138a; 
}

section {
    margin-top: 10px;
}

button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 200px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 135px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 100;
    text-align: center;
    padding: 10px 8px 12px;
    color: #322e2f;
    box-shadow: inset 0 0 0 2px #322e2f;
    background-color: transparent;
    height: 42px;
}

button:hover {
    color: #d9138a;
    background-color: #322e2f;
}